* {
    margin: 0;
    background-color: #141414;
}

.content {
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
    
.header-container {
    display: flex;
    user-select: none;
}

.header-container button:hover {
	background: #0061FD;
	color: white;
    border-radius: 14px;
    padding: 3px;
   
}

.header-navigation-menu{
    display: flex;
    align-items: center;
    background-color: transparent;
}

.header-navigation-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);
}

.header-discover button{
    margin-left: 130px;
}

.header-input-search{
    align-items: center;
    display: flex;
}

.header-input-search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.search{
    background: #2F2F2F;
    border-radius: 24px;
    width: 318px;
    height: 32px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    margin-bottom: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-search button:hover{
    color: white;
}

.menu-bar{
    position: fixed;
    margin-left: 50px;
    margin-top: 43px;
    top:0;
    bottom:0;
    left:0;
}

.bar-menu-logo{
    margin-bottom: 40px;
}

.bar-menu-list{
    align-items: center;
    margin-bottom: 20px;
}

.bar-menu-list div{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.bar-menu-list div:hover{
    background: #2F2F2F;
	
    border-radius: 14px;
    padding: 5px;
}

.bar-menu-list button:hover{
    color: white;
}

.main-home{
    margin-top: 50px;
}

.bar-logo-image{
    margin-left: -5px;
}

.menu-bar button{
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);
}

.menu-bar a{
    margin-top: 32px;
    align-items: center;
    font-size: 35px;
    line-height: 50px;
}

.main-downloads{
    margin-top:135px;
}

.main-center-content{
    display: flex;
}

.main-center-image{
    position: relative;
    margin-top: 30px;
    margin-left: 132px;
}

.main-center-image h1{
    position: relative;
    color: #EBEBF5;
    bottom: 420px;
    left: 30px;
    background-color: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
  
    align-items: center;
}

.main-center-image h2{
    position: relative;
    color: #EBEBF5;
    bottom: 230px;
   
    left: 30px;
    background-color: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
 
    align-items: center;
}

.main-center-image p{
    position: relative;
    color: #EBEBF5;
    bottom: 240px;
    left: 30px;
    background-color: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
}

.main-center-content{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    justify-content: space-between;
}

.main-center-image button{
    position: relative;
    width: 167px;
    height: 56px;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    border-radius: 14px;
    text-decoration: none;
    bottom: 200px;
    left: 30px;
    
    color: white;
    background: #0061FD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.main-right-content{
    margin-top: 30px;
    margin-bottom: 21px;
    background: #fef6ec;
    margin: 10 15 10rem;
    margin-left: 5px;
    background: #2F2F2F;
    border-radius: 0px 12px 12px 0px;
}

.main-right-content div{
    color: white;  
    display: flex;
    margin-top: 13px;
    margin-bottom: 15px;
    margin-left: 8px;
    background-color: transparent;
}

.main-right-content button{
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    /* font-size: 14px; */
    line-height: 18px;
    color: white;
    text-align: left;
}

.main-games-on-sale{
    width: 1200px;
    margin: 0 auto;
}

.main-games-on-sale{
    justify-content: space-between;
    user-select: none;
}

.main-games-on-sale a{
    position: relative;
    margin-left: 130px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat;
}

.menu-sale{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-right-content img{
    border-radius: 3px;
}

.main-games-on-sale button{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid rgba(235, 235, 245, 0.6);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: rgba(235, 235, 245, 0.6);
}

.main-games-on-sale button:hover{
    color: white;
    border-color: white;
}

.main-right-button{
    margin-left: 30px; 
}

.main-games-images{
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.main-games-on-sale img{
    border-radius: 9px;
}

.main-game-images-first{
    margin-left: 130px;
}

.main-paragraph{
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    font-family: Montserrat;
    font-style: normal;
    color: white;
}

.main-paragraph-light {
    margin-top: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(235, 235, 245, 0.6);
}

.main-paragraph-price{
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    font-family: Montserrat;
    font-style: normal;
    color: white;
}

.main-price-sale{
    display: flex;
    gap: 15px;
}

s{
    color: rgba(235, 235, 245, 0.6);
}

mark{
    background: #B1DD8B;
    border-radius: 4px;
    padding: 4px;
}