* {
    margin: 0;
    background-color: #141414;
}

.content {
    width: 1200px;
    margin: 0 auto;
}
    
.header-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    user-select: none;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation-menu{
    display: flex;
    align-items: center;
    margin-left: 63px;
    background-color: transparent;
}

.header-navigation-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);
}

.header-input-search{
    align-items: center;
    display: flex;
}

.header-input-search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.search{
    background: #2F2F2F;
    border-radius: 24px;

    width: 318px;
    height: 32px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    margin-bottom: 1px;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}