* {
    margin: 0;
    background-color: #141414;
}

.content {
    width: 1300px;
    margin: 0 auto;
}
    
.header-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    user-select: none;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo-image{
position: fixed;
}

.header-navigation-menu{
    display: flex;
    align-items: center;
    margin-left: 63px;
    background-color: transparent;
}

.header-navigation-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: 180px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);
}

.header-input-search{
    align-items: center;
    display: flex;
}

.header-input-search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.search{
    background: #2F2F2F;
    border-radius: 24px;

    width: 318px;
    height: 32px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    margin-bottom: 1px;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-menu-bar{
    margin-top: 40px;
    position: fixed;
}

.main-menu-bar button{
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);

}

.main-menu-bar a{
    margin-left: 0;
    
    text-align:center;
    margin-top: 32px;
    align-items: center;
    font-size: 35px;
    line-height: 50px;
    
}
.main-menu-bar button{
    margin-bottom: 20px;
    width: 48px;
    height: 16px;
    text-align: center;
}

.main-center-image{
    position: relative;
    margin-top: 30px;
    margin-left: 248px;
}

.main-center-content{
    display: flex;
}

.main-right-content{
    margin-top: 50px;
    margin-left: 30px;

  
    color: white;
}

.main-right-content button{
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;
}


.main-playfree-button{
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    bottom: 8%;
    left: 13%;
    transform: translate(-50%, -50%);
    color: white;

    width: 167px;
height: 56px;


background: #0061FD;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
border-radius: 14px;
}
/*

.main-home{
    display: flex;
}

.main-store{
    display: flex;
}

.main-library{
    display: flex;
}

.main-friends{
    display: flex;
}

.main-live{
    display: flex;
}
*/

.p p{
    margin-top: 1000px;
}